$white: #ffffff;
$black: #000000;
$accent: #34547A;
$silver: #EEEFF1;
$neutral-light: #C4C4C4;
$neutral: #727272;
$neutral-dark: #5F5D5D;

$innerWrapper: 540px;

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

// Typography
h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 78px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 37px;
  margin-bottom: 50px;
}

h3 {
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
}

p, li {
  font-size: 16px;
  line-height: 26px;
}

// Common
.container {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

button {
  padding: 0 41px;
  height: 55px;
  color: $white;
  background-color: $accent;
  border: 1px solid $accent;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $white;
    color: $accent;
  }
}

%description {
  max-width: $innerWrapper;
  text-align: center;
  color: $neutral;
}

// Header
header {
  background-color: $silver;
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 0;

  .navList {
    display: flex;
  }

  .navItem {
    margin-left: 42px;
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      color: $accent;
      font-weight: 500;
    }
  }
}

.headerInfo {
  padding: 104px 0 146px;
  display: flex;
  align-items: center;

  h1, p {
    margin-bottom: 60px;
  }

  p {
    color: $neutral;
  }

  img {
    margin-right: 142px;
  }
}

// About me
.aboutMe {
  padding: 112px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    @extend %description;
  }
}

.projects {
  background-color: $accent;
  padding: 100px 0;

  .projectsContainer {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
  }

  .project {
    margin-right: 50px;
    display: flex;

    img {
      width: 47px;
      height: 50px;
      margin-right: 20px;
    }

    h3, p {
      color: $white;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.mySkills {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    width: calc(50% - 50px);
    margin-right: 50px;
  }

  .bar {
    height: 4px;
    max-width: 440px;
    width: 100%;
    background-color: $neutral-light;
  }

  .doneBar {
    height: 100%;
    width: 80%;
    background-color: $accent;
  }

  .skill {
    margin-bottom: 30px;

    p {
      color: $neutral;
      margin-bottom: 20px;
    }
  }

  img {
    width: 50%;
    height: auto;
  }
}

// Video
.video {
  background-color: $silver;
  padding: 100px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > div {
      position: relative;
    }
  }

  p {
    @extend %description;
    margin-bottom: 57px;
  }

  .videoImg {
    width: 100%;
  }

  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Grid
.grid {
  padding: 28px 0;
  display: flex;
  flex-wrap: wrap;

  & > div {
    position: relative;
    width: 25%;
    display: flex;
  }

  .backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .eye {
      width: 100px;
      height: 57px;
      opacity: 0;
      transition: all .3s;
    }

    &:hover {
      background-color: $accent;
      opacity: 0.8;
      transition: all .3s;

      .eye {
        opacity: 1;
      }
    }
  }

  img {
    width: 100%;
  }
}

// Form
.form {
  padding: 100px 0;
  background-color: $silver;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  p {
    @extend %description;
    margin-bottom: 65px;
  }

  form {
    max-width: $innerWrapper;
    margin-bottom: 50px;
  }

  %inputTemplate {
    padding: 17px 20px;
    border: none;
  }

  input {
    @extend %inputTemplate;
    flex: 1;
    outline: none;

    &:first-child {
      margin-right: 30px;
    }
  }

  textarea {
    @extend %inputTemplate;
    margin-top: 20px;
    width: 100%;
    height: 175px;
    box-sizing: border-box;
    outline: none;
  }
}

// Footer
footer {
  padding: 50px 0;
  background-color: $accent;

  .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  h3 {
    margin-bottom: 20px;
  }

  h3, span {
    color: $white;
  }

  span {
    font-size: 13px;
  }

  img {
    margin-left: 20px;
    cursor: pointer;
  }
}

// Adaptive
@media screen and (max-width: 1185px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .headerInfo {
    padding: 67px 0 95px;

    h1, p {
      margin-bottom: 44px;
    }

    img {
      margin-right: 50px;
    }
  }

  .projects {
    padding-top: 75px;
    padding-bottom: 75px;

    .projectsContainer {
      max-width: 570px;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    .project {
      margin-bottom: 90px;

      &:nth-child(3n + 3) {
        margin-right: 0;
      }

      &:nth-child(1n + 4) {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .nav {
    padding: 24px 0;
  }

  .headerInfo {
    flex-direction: column;

    h1, p {
      text-align: center;
    }
    
    img {
      margin-bottom: 51px;
      margin-right: 0;
    }

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .mySkills {
    padding-top: 82px;
    padding-bottom: 103px;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 36px;
    line-height: 36px;
  }

  .nav .navList {
    display: none;
  }

  .aboutMe {
    padding-top: 91px;
    padding-bottom: 82px;
  }
}

@media screen and (max-width: 580px) {
  .projects {
    .projectsContainer {
      max-width: 340px;
      justify-content: space-between;
    }

    .project {
      &:nth-child(2n + 2) {
        margin-right: 0;
      }

      &:nth-child(1n + 5) {
        margin-bottom: 0;
      }
    }
  }

  .mySkills {
    flex-direction: column-reverse;

    img {
      margin-bottom: 98px;
    }

    & > div, img {
      width: 100%;
      margin-right: 0;
    }
  }

  .grid > div {
    width: 50%;
  }

  .form {
    padding-top: 91px;

    form {
      max-width: unset;
      width: 100%;

      div {
        flex-direction: column;
        width: 100%;

        input {
          width: 100%;
          display: block;
          box-sizing: border-box;
          margin-bottom: 25px;

          &:first-child {
            margin-right: 0;
          }
        }
      }

      textarea {
        margin-top: 0;
      }
    }
  }

  footer {
    .container {
      flex-direction: column;

      & > div:first-child {
        margin-bottom: 38px;
      }
    }

    h3, span {
      text-align: center;
      margin-bottom: 0;
    }

    img:first-child {
      margin-left: 0;
    }
  }
}
